openapi: 3.0.1
info:
  title: OpenRemote Manager REST API
  description: "This is the documentation for the OpenRemote Manager HTTP REST API.\
    \  Please see the [documentation](https://docs.openremote.io) for more info."
  contact:
    email: info@openremote.io
  license:
    name: AGPL 3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  version: 3.0.0
servers:
- url: "https://demo.openremote.io/api/{realm}/"
  variables:
    realm:
      default: master
security:
- openid: []
tags:
- name: Agent
  description: Operations on agents
- name: Alarm
  description: Operations on alarms
- name: Configuration
  description: Operations on configurations
- name: UI Apps
  description: Operations on UI apps
- name: Asset Model
  description: Operations on asset model resources
- name: Asset
  description: Operations on assets
- name: Console
  description: Operations on consoles
- name: Dashboard
  description: Operations on dashboards
- name: Asset Datapoint
  description: Operations on asset datapoints
- name: Asset Predicted Datapoint
  description: Operations on asset predicted datapoints
- name: Gateway
  description: Operations on gateways
- name: Map
  description: Operations on maps
- name: Notification
  description: Operations on notifications
- name: Provisioning
  description: Operations on provisioning configurations
- name: Rule
  description: Operations on rules
- name: Flow
  description: Operations on flows
- name: Realm
  description: Operations on realms
- name: User
  description: Operations on users
- name: Syslog
  description: Operations on syslog events
- name: Status
  description: Operations on system status
paths:
  /agent/assetDiscovery/{agentId}:
    get:
      tags:
      - Agent
      summary: Do protocol asset discovery
      operationId: doProtocolAssetDiscovery
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      - name: realm
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetTreeNode"
  /agent/assetImport/{agentId}:
    post:
      tags:
      - Agent
      summary: Do protocol asset import
      operationId: doProtocolAssetImport
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      - name: realm
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileInfo"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetTreeNode"
  /agent/instanceDiscovery/{agentType}:
    get:
      tags:
      - Agent
      summary: Do protocol instance discovery
      operationId: doProtocolInstanceDiscovery
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: parentId
        in: query
        schema:
          type: string
      - name: agentType
        in: path
        required: true
        schema:
          type: string
      - name: realm
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AgentObjectObjectObject"
  /alarm:
    get:
      tags:
      - Alarm
      summary: Retrieve all alarms or a subset using filter criteria
      operationId: getAlarms
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - OPEN
          - ACKNOWLEDGED
          - IN_PROGRESS
          - RESOLVED
          - CLOSED
      - name: assetId
        in: query
        schema:
          type: string
      - name: assigneeId
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SentAlarm"
    post:
      tags:
      - Alarm
      summary: Create an alarm
      operationId: createAlarm
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetIds
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentAlarm"
    delete:
      tags:
      - Alarm
      summary: Remove alarms
      operationId: removeAlarms
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /alarm/{alarmId}:
    get:
      tags:
      - Alarm
      summary: Retrieve an alarm
      operationId: getAlarm
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: alarmId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentAlarm"
    put:
      tags:
      - Alarm
      summary: Update an alarm
      operationId: updateAlarm
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: alarmId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
    delete:
      tags:
      - Alarm
      summary: Remove an alarm
      operationId: removeAlarm
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: alarmId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /alarm/{alarmId}/assets:
    get:
      tags:
      - Alarm
      summary: Retrieve the asset links of an alarm
      operationId: getAssetLinks
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: alarmId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: realm
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlarmAssetLink"
  /alarm/assets:
    put:
      tags:
      - Alarm
      summary: Set the asset links of an alarm
      operationId: setAssetLinks
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /configuration/manager/file:
    post:
      tags:
      - Configuration
      summary: Upload a file
      operationId: fileUpload
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: path
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileInfo"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: string
  /configuration/manager:
    get:
      tags:
      - Configuration
      summary: Retrieve the manager configuration JSON
      operationId: getManagerConfig
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagerAppConfig"
    put:
      tags:
      - Configuration
      summary: Update manager configuration
      operationId: updateConfiguration
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagerAppConfig"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagerAppConfig"
  /configuration/manager/image/{filename}:
    get:
      tags:
      - Configuration
      summary: Retrieve manager configuration images
      operationId: getManagerConfigImage
      parameters:
      - name: filename
        in: path
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        default:
          description: default response
          content:
            '*/*':
              schema:
                type: object
  /apps/info:
    get:
      tags:
      - UI Apps
      summary: Retrieve the info of the available applications
      operationId: getAppInfos
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /apps:
    get:
      tags:
      - UI Apps
      summary: Retrieve a list of the available applications
      operationId: getApps
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /apps/consoleConfig:
    get:
      tags:
      - UI Apps
      summary: Retrieve the console configuration
      operationId: getConsoleConfig
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /model/assetDescriptors:
    get:
      tags:
      - Asset Model
      summary: Retrieve the available asset descriptors
      operationId: getAssetDescriptors
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: parentId
        in: query
        schema:
          type: string
      - name: parentType
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetDescriptorObject"
  /model/assetInfo/{assetType}:
    get:
      tags:
      - Asset Model
      summary: Retrieve the asset type information of an asset type
      operationId: getAssetInfo
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: parentId
        in: query
        schema:
          type: string
      - name: assetType
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetTypeInfo"
  /model/assetInfos:
    get:
      tags:
      - Asset Model
      summary: Retrieve the asset type information of each available asset type
      operationId: getAssetInfos
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: parentId
        in: query
        schema:
          type: string
      - name: parentType
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetTypeInfo"
  /model/metaItemDescriptors:
    get:
      tags:
      - Asset Model
      summary: Retrieve the available meta item descriptors
      operationId: getMetaItemDescriptors
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: parentId
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/MetaItemDescriptorObject"
  /model/valueDescriptors:
    get:
      tags:
      - Asset Model
      summary: Retrieve the available value descriptors
      operationId: getValueDescriptors
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: parentId
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/ValueDescriptorObject"
  /asset:
    post:
      tags:
      - Asset
      summary: Create an asset
      operationId: createAsset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetObject"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetObject"
    delete:
      tags:
      - Asset
      summary: Delete assets
      operationId: deleteAsset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /asset/user/link:
    get:
      tags:
      - Asset
      summary: Retrieve links between assets and users
      operationId: getUserAssetLinks
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: query
        schema:
          type: string
      - name: userId
        in: query
        schema:
          type: string
      - name: assetId
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserAssetLink"
    post:
      tags:
      - Asset
      summary: Create links between users and assets
      operationId: createUserAssetLinks
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/UserAssetLink"
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /asset/user/link/{realm}/{userId}:
    delete:
      tags:
      - Asset
      summary: Delete all user asset links
      operationId: deleteAllUserAssetLinks
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /asset/user/link/{realm}/{userId}/{assetId}:
    delete:
      tags:
      - Asset
      summary: Delete a link between an asset and user
      operationId: deleteUserAssetLink
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /asset/user/link/delete:
    post:
      tags:
      - Asset
      summary: Delete user asset links
      operationId: deleteUserAssetLinks
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/UserAssetLink"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /asset/{assetId}:
    get:
      tags:
      - Asset
      summary: Retrieve an asset
      operationId: getAsset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetObject"
    put:
      tags:
      - Asset
      summary: Update an asset
      operationId: updateAsset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetObject"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetObject"
  /asset/user/current:
    get:
      tags:
      - Asset
      summary: Retrieve the linked assets of the currently authenticated user
      operationId: getCurrentUserAssets
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetObject"
  /asset/partial/{assetId}:
    get:
      tags:
      - Asset
      summary: Retrieve a partially loaded asset (no attributes or path)
      operationId: getPartialAsset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetObject"
  /asset/query:
    post:
      tags:
      - Asset
      summary: Retrieve assets using a query
      operationId: queryAssets
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetQuery"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetObject"
  /asset/parent:
    delete:
      tags:
      - Asset
      summary: Delete the parent of assets
      operationId: deleteAssetsParent
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetIds
        in: query
        schema:
          maxItems: 2147483647
          minItems: 1
          type: array
          items:
            type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /asset/{parentAssetId}/child:
    put:
      tags:
      - Asset
      summary: Update the parent of assets
      operationId: updateAssetParent
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: parentAssetId
        in: path
        required: true
        schema:
          type: string
      - name: assetIds
        in: query
        schema:
          maxItems: 2147483647
          minItems: 1
          type: array
          items:
            type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /asset/attributes/timestamp:
    put:
      tags:
      - Asset
      summary: Update attribute values with timestamps
      operationId: writeAttributeEvents
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AttributeEvent"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AttributeWriteResult"
  /asset/{assetId}/attribute/{attributeName}:
    put:
      tags:
      - Asset
      summary: Write to a single attribute
      operationId: writeAttributeValue
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      - name: attributeName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        default:
          description: The result of the write operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
  /asset/{assetId}/attribute/{attributeName}/{timestamp}:
    put:
      tags:
      - Asset
      summary: Write to a single attribute with a timestamp
      operationId: writeAttributeValue_1
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      - name: attributeName
        in: path
        required: true
        schema:
          type: string
      - name: timestamp
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        default:
          description: The result of the write operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
  /asset/attributes:
    put:
      tags:
      - Asset
      summary: Update attribute values
      operationId: writeAttributeValues
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AttributeState"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AttributeWriteResult"
  /console/register:
    post:
      tags:
      - Console
      summary: Create or update the registration for a console
      operationId: register
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsoleRegistration"
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleRegistration"
  /dashboard:
    put:
      tags:
      - Dashboard
      summary: Update a dashboard
      operationId: updateDashboard
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dashboard"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
    post:
      tags:
      - Dashboard
      summary: Create a dashboard
      operationId: createDashboard
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dashboard"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
  /dashboard/{realm}/{dashboardId}:
    get:
      tags:
      - Dashboard
      summary: Retrieve a dashboard
      operationId: getDashboard
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: dashboardId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
    delete:
      tags:
      - Dashboard
      summary: Delete a dashboard
      operationId: deleteDashboard
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: dashboardId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /dashboard/all/{realm}:
    get:
      tags:
      - Dashboard
      summary: Retrieve all accessible dashboards
      operationId: getAllRealmDashboards
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dashboard"
  /dashboard/query:
    post:
      tags:
      - Dashboard
      summary: Retrieve dashboards using a query
      operationId: queryDashboards
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardQuery"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dashboard"
  /asset/datapoint/export:
    get:
      tags:
      - Asset Datapoint
      summary: Retrieve a datapoint export of an asset attribute
      operationId: getDatapointExport
      parameters:
      - name: attributeRefs
        in: query
        schema:
          type: string
      - name: fromTimestamp
        in: query
        schema:
          type: integer
          format: int64
      - name: toTimestamp
        in: query
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/zip: {}
  /asset/datapoint/periods:
    get:
      tags:
      - Asset Datapoint
      summary: Retrieve a datapoint period of an asset attribute
      operationId: getDatapointPeriod
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: query
        schema:
          type: string
      - name: attributeName
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatapointPeriod"
  /asset/datapoint/{assetId}/{attributeName}:
    post:
      tags:
      - Asset Datapoint
      summary: Retrieve the historical datapoints of an asset attribute
      operationId: getDatapoints
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      - name: attributeName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetDatapointQuery"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ValueDatapointObject"
  /asset/predicted/{assetId}/{attributeName}:
    put:
      tags:
      - Asset Predicted Datapoint
      summary: Write the predicted datapoints of an asset attribute
      operationId: writePredictedDatapoints
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      - name: attributeName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/ValueDatapointObject"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
    post:
      tags:
      - Asset Predicted Datapoint
      summary: Retrieve the predicted datapoints of an asset attribute
      operationId: getPredictedDatapoints
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      - name: attributeName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetDatapointQuery"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ValueDatapointObject"
  /gateway/connection/{realm}:
    get:
      tags:
      - Gateway
      summary: Retrieve the gateway connection of a realm
      operationId: getConnection
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayConnection"
    put:
      tags:
      - Gateway
      summary: Update the gateway connection of a realm
      operationId: setConnection
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GatewayConnection"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
    delete:
      tags:
      - Gateway
      summary: Delete the gateway connection of a realm
      operationId: deleteConnection
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /gateway/connection:
    get:
      tags:
      - Gateway
      summary: Retrieve the gateway connections of all realms
      operationId: getConnections
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GatewayConnection"
    delete:
      tags:
      - Gateway
      summary: Delete the gateway connections of multiple realms
      operationId: deleteConnections
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /gateway/status/{realm}:
    get:
      tags:
      - Gateway
      summary: Retrieve the gateway connection status of a realm
      operationId: getConnectionStatus
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: string
                enum:
                - DISCONNECTED
                - CONNECTING
                - DISCONNECTING
                - CONNECTED
                - DISABLED
                - WAITING
                - ERROR
                - STOPPED
  /gateway/tunnel/{realm}/{id}/{target}/{targetPort}:
    get:
      tags:
      - Gateway
      summary: Retrieve the gateway tunnel information of tunnel for a gateway in
        a realm
      operationId: getActiveTunnelInfo
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: target
        in: path
        required: true
        schema:
          type: string
      - name: targetPort
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayTunnelInfo"
  /gateway/tunnel/{realm}:
    get:
      tags:
      - Gateway
      summary: Retrieve all active gateway tunnel information of a realm
      operationId: getAllActiveTunnelInfos
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GatewayTunnelInfo"
  /gateway/tunnel/{realm}/{id}:
    get:
      tags:
      - Gateway
      summary: Retrieve the active gateway tunnel information of gateway in a realm
      operationId: getGatewayActiveTunnelInfos
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GatewayTunnelInfo"
  /gateway/tunnel:
    post:
      tags:
      - Gateway
      summary: Start a tunnel for a gateway
      operationId: startTunnel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GatewayTunnelInfo"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayTunnelInfo"
    delete:
      tags:
      - Gateway
      summary: Stop a tunnel for a gateway
      operationId: stopTunnel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GatewayTunnelInfo"
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /map:
    get:
      tags:
      - Map
      summary: Retrieve the style used for Mapbox GL
      operationId: getSettings
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectNode"
    put:
      tags:
      - Map
      summary: Update map settings
      operationId: saveSettings
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: "#/components/schemas/MapRealmConfig"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: object
  /map/js:
    get:
      tags:
      - Map
      summary: Retrieve the tileJSON object used for Mapbox GL
      operationId: getSettingsJs
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectNode"
  /map/tile/{zoom}/{column}/{row}:
    get:
      tags:
      - Map
      summary: Retrieve the vector tile data for Mapbox GL
      operationId: getTile
      parameters:
      - name: zoom
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: column
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: row
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        default:
          description: default response
          content:
            application/vnd.mapbox-vector-tile:
              schema:
                type: string
                format: byte
  /notification:
    get:
      tags:
      - Notification
      summary: Retrieve all sent notifications by targets
      operationId: getNotifications
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: query
        schema:
          type: integer
          format: int64
      - name: type
        in: query
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: integer
          format: int64
      - name: to
        in: query
        schema:
          type: integer
          format: int64
      - name: realmId
        in: query
        schema:
          type: string
      - name: userId
        in: query
        schema:
          type: string
      - name: assetId
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SentNotification"
    delete:
      tags:
      - Notification
      summary: Delete all sent notifications by targets
      operationId: removeNotifications
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: query
        schema:
          type: integer
          format: int64
      - name: type
        in: query
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: integer
          format: int64
      - name: to
        in: query
        schema:
          type: integer
          format: int64
      - name: realmId
        in: query
        schema:
          type: string
      - name: userId
        in: query
        schema:
          type: string
      - name: assetId
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /notification/{notificationId}/acknowledged:
    put:
      tags:
      - Notification
      summary: Update a notification as acknowledged
      operationId: notificationAcknowledged
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: targetId
        in: query
        schema:
          type: string
      - name: notificationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonNode"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /notification/{notificationId}/delivered:
    put:
      tags:
      - Notification
      summary: Update a notification as delivered
      operationId: notificationDelivered
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: targetId
        in: query
        schema:
          type: string
      - name: notificationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /notification/{notificationId}:
    delete:
      tags:
      - Notification
      summary: Delete a sent notification
      operationId: removeNotification
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: notificationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /notification/alert:
    post:
      tags:
      - Notification
      summary: Send a notification to one or more targets
      operationId: sendNotification
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Notification"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /provisioning:
    get:
      tags:
      - Provisioning
      summary: Retrieve all provisioning configurations
      operationId: getProvisioningConfigs
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProvisioningConfigObjectObject"
    post:
      tags:
      - Provisioning
      summary: Create a provisioning configuration
      operationId: createProvisioningConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProvisioningConfigObjectObject"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /provisioning/{id}:
    put:
      tags:
      - Provisioning
      summary: Update a provisioning configuration
      operationId: updateProvisioningConfig
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProvisioningConfigObjectObject"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
    delete:
      tags:
      - Provisioning
      summary: Delete a provisioning configuration
      operationId: deleteProvisioningConfig
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /rules/asset:
    post:
      tags:
      - Rule
      summary: Create an asset ruleset
      operationId: createAssetRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetRuleset"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /rules:
    get:
      tags:
      - Rule
      summary: ' Retrieve the global rules'
      operationId: getGlobalRulesets
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: language
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - JAVASCRIPT
            - GROOVY
            - JSON
            - FLOW
      - name: fullyPopulate
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GlobalRuleset"
    post:
      tags:
      - Rule
      summary: Create a global ruleset
      operationId: createGlobalRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GlobalRuleset"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /rules/realm:
    post:
      tags:
      - Rule
      summary: Create a realm ruleset
      operationId: createRealmRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RealmRuleset"
      responses:
        default:
          description: default response
          content:
            '*/*':
              schema:
                type: integer
                format: int64
  /rules/asset/{id}:
    get:
      tags:
      - Rule
      summary: Retrieve an asset ruleset
      operationId: getAssetRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetRuleset"
    put:
      tags:
      - Rule
      summary: Update an asset ruleset
      operationId: updateAssetRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetRuleset"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
    delete:
      tags:
      - Rule
      summary: Delete an asset ruleset
      operationId: deleteAssetRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /rules/{id}:
    get:
      tags:
      - Rule
      summary: Retrieve a global ruleset
      operationId: getGlobalRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalRuleset"
    put:
      tags:
      - Rule
      summary: Update a global ruleset
      operationId: updateGlobalRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GlobalRuleset"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
    delete:
      tags:
      - Rule
      summary: Delete a global ruleset
      operationId: deleteGlobalRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /rules/realm/{id}:
    get:
      tags:
      - Rule
      summary: Retrieve a realm ruleset
      operationId: getRealmRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealmRuleset"
    put:
      tags:
      - Rule
      summary: Update a realm ruleset
      operationId: updateRealmRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RealmRuleset"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
    delete:
      tags:
      - Rule
      summary: Delete a realm ruleset
      operationId: deleteRealmRuleset
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /rules/info/asset/{assetId}:
    get:
      tags:
      - Rule
      summary: Retrieve information about an asset rules engine
      operationId: getAssetEngineInfo
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulesEngineInfo"
  /rules/geofences/{assetId}:
    get:
      tags:
      - Rule
      summary: Get the geofences of an asset
      operationId: getAssetGeofences
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GeofenceDefinition"
  /rules/asset/for/{assetId}:
    get:
      tags:
      - Rule
      summary: Retrieve the rules of an asset
      operationId: getAssetRulesets
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      - name: language
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - JAVASCRIPT
            - GROOVY
            - JSON
            - FLOW
      - name: fullyPopulate
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetRuleset"
  /rules/info/global:
    get:
      tags:
      - Rule
      summary: Retrieve information about the global rules engine
      operationId: getGlobalEngineInfo
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulesEngineInfo"
  /rules/info/realm/{realm}:
    get:
      tags:
      - Rule
      summary: Retrieve information about a realm rules engine
      operationId: getRealmEngineInfo
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulesEngineInfo"
  /rules/realm/for/{realm}:
    get:
      tags:
      - Rule
      summary: Retrieve the rules of a realm
      operationId: getRealmRulesets
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: language
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - JAVASCRIPT
            - GROOVY
            - JSON
            - FLOW
      - name: fullyPopulate
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RealmRuleset"
  /flow:
    get:
      tags:
      - Flow
      summary: Retrieve all node definitions
      operationId: getAllNodeDefinitions
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Node"
  /flow/{type}:
    get:
      tags:
      - Flow
      summary: Retrieve all node definitions by type
      operationId: getAllNodeDefinitionsByType
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - INPUT
          - PROCESSOR
          - OUTPUT
          - THEN
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Node"
  /flow/{name}:
    get:
      tags:
      - Flow
      summary: Retrieve a node definition by name
      operationId: getNodeDefinition
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Node"
  /realm:
    get:
      tags:
      - Realm
      summary: Retrieve all realms
      operationId: getAllRealms
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Realm"
    post:
      tags:
      - Realm
      summary: Create a new realm
      operationId: createRealm
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Realm"
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /realm/{name}:
    get:
      tags:
      - Realm
      summary: Retrieve details about the currently authenticated and active realm
      operationId: getRealm
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Realm"
    put:
      tags:
      - Realm
      summary: Update a realm
      operationId: updateRealm
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Realm"
      responses:
        default:
          description: default response
          content:
            application/json: {}
    delete:
      tags:
      - Realm
      summary: Delete a realm
      operationId: deleteRealm
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /realm/accessible:
    get:
      tags:
      - Realm
      summary: Retrieve accessible realms for the authenticated user
      operationId: getAccessibleRealms
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Realm"
  /user/{realm}/users:
    put:
      tags:
      - User
      summary: Update a user in a realm
      operationId: updateUser
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
    post:
      tags:
      - User
      summary: Create a new user in a realm
      operationId: createUser
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
  /user/{realm}/users/{userId}:
    delete:
      tags:
      - User
      summary: Delete a user from a realm
      operationId: deleteUser
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /user/{realm}/disconnect/{sessionID}:
    get:
      tags:
      - User
      summary: Disconnect a user session using a session ID
      operationId: disconnectUserSession
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /user/{realm}/{userId}:
    get:
      tags:
      - User
      summary: Retrieve a user in a realm
      operationId: getUser
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
  /user/{realm}/{clientId}/roles:
    get:
      tags:
      - User
      summary: Retrieve client roles for a realm and client
      operationId: getClientRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
    put:
      tags:
      - User
      summary: Update client roles for a realm and client
      operationId: updateClientRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Role"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /user/user:
    get:
      tags:
      - User
      summary: Retrieve the currently authenticated user
      operationId: getCurrentUser
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
  /user/userRoles/{clientId}:
    get:
      tags:
      - User
      summary: Retrieve client roles for the currently authenticated user using a
        client ID
      operationId: getCurrentUserClientRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
  /user/userRealmRoles:
    get:
      tags:
      - User
      summary: Retrieve realm roles for the currently authenticated user
      operationId: getCurrentUserRealmRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
  /user/userRoles:
    get:
      tags:
      - User
      summary: Retrieve client roles for the currently authenticated user
      operationId: getCurrentUserRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
  /user/{realm}/roles:
    get:
      tags:
      - User
      summary: Retrieve roles for a realm
      operationId: getRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
    put:
      tags:
      - User
      summary: Update roles for a realm
      operationId: updateRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Role"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /user/{realm}/userRoles/{userId}/{clientId}:
    get:
      tags:
      - User
      summary: Retrieve client roles for a user using a client ID in a realm
      operationId: getUserClientRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
    put:
      tags:
      - User
      summary: Update client roles for a user in a realm using a client ID
      operationId: updateUserClientRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Role"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /user/{realm}/userRealmRoles/{userId}:
    get:
      tags:
      - User
      summary: Retrieve realm roles for a user in a realm
      operationId: getUserRealmRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
    put:
      tags:
      - User
      summary: Update realm roles for a user in a realm
      operationId: updateUserRealmRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Role"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /user/{realm}/userRoles/{userId}:
    get:
      tags:
      - User
      summary: Retrieve client roles for a user in a realm
      operationId: getUserRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
    put:
      tags:
      - User
      summary: Update client roles for a user in a realm
      operationId: updateUserRoles
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Role"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /user/{realm}/userSessions/{userId}:
    get:
      tags:
      - User
      summary: Retrieve sessions for a user in a realm
      operationId: getUserSessions
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: X-Forwarded-Proto
        in: header
        schema:
          type: string
      - name: X-Forwarded-Host
        in: header
        schema:
          type: string
      - name: realm
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
[...]
