openapi: 3.0.1
info:
  contact:
    email: info@openremote.io
  description: "This is the documentation for the OpenRemote Manager HTTP API. The\
    \ `realm` server variable selects the request realm. Operations that show the\
    \ `openid` security requirement need an OAuth 2 access token; operations without\
    \ that requirement support anonymous access, although the returned data can still\
    \ be limited to public resources. Unless an operation documents another schema,\
    \ error responses use a plain-text body. Please see the [documentation](https://docs.openremote.io)\
    \ for more info."
  license:
    name: AGPL 3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  title: OpenRemote Manager HTTP API
  version: 3.0.0
servers:
- url: "https://demo.openremote.io/api/{realm}/"
  variables:
    realm:
      default: master
tags:
- description: "Create, query, maintain, and associate alarms with assets"
  name: Alarm
- description: Discover installed Manager applications and load their public client
    configuration
  name: UI Apps
- description: "Discover asset, attribute-value, and metadata types supported by this\
    \ Manager or a gateway"
  name: Asset Model
- description: "Query and manage assets, attributes, hierarchy, and user-to-asset\
    \ links"
  name: Asset
- description: Discover protocol instances and import or discover assets through Agent
    assets
  name: Agent
- description: Register mobile and browser consoles as Console assets
  name: Console
- description: Query public or accessible dashboards and manage dashboards for the
    Insights UI
  name: Dashboard
- description: Query and export historical values stored for asset attributes
  name: Asset Datapoint
- description: Read and replace predicted future values for asset attributes
  name: Asset Predicted Datapoint
- description: Configure this Manager's connections to central OpenRemote gateway
    services
  name: Gateway
- description: Read public Manager UI configuration and administer its configuration
    and images
  name: Configuration
- description: "Configure the Manager map and serve map styles, vector tiles, and\
    \ custom MBTiles data"
  name: Map
- description: "Send notifications and query, delete, deliver, or acknowledge their\
    \ delivery records"
  name: Notification
- description: Super-administrator operations for device provisioning configurations
  name: Provisioning
- description: "Inspect rule engines and query or manage global, realm, and asset\
    \ rulesets"
  name: Rule
- description: Discover the node definitions available to the visual flow-rules editor
  name: Flow
- description: Discover accessible realms and administer identity-provider realms
  name: Realm
- description: "Query and manage identity-provider users, roles, credentials, locale,\
    \ and live sessions"
  name: User
- description: "Register, discover, renew, and deregister leased external-service\
    \ instances"
  name: Services
- description: Query and clear stored Manager logs and maintain syslog storage settings
  name: Syslog
- description: Read Manager health and build information
  name: Status
paths:
  /agent/assetDiscovery/{agentId}:
    get:
      description: "Runs the agent protocol's asset discovery, waits up to ten seconds\
        \ for results, returns the discovered tree, and asynchronously persists discovered\
        \ assets below the agent."
      operationId: doProtocolAssetDiscovery
      parameters:
      - description: Agent asset that performs discovery.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: agentId
        required: true
        schema:
          type: string
      - description: OpenRemote realm name. Non-super users are always restricted
          to their authenticated realm.
        example: building
        in: query
        name: realm
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetTreeNode"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      security:
      - openid: []
      summary: Discover assets through an agent
      tags:
      - Agent
  /agent/assetImport/{agentId}:
    post:
      description: "Decodes the supplied FileInfo, asks the agent protocol to import\
        \ it, persists the returned asset tree below the agent, and returns that tree."
      operationId: doProtocolAssetImport
      parameters:
      - description: Agent asset that performs the import.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: agentId
        required: true
        schema:
          type: string
      - description: OpenRemote realm name. Non-super users are always restricted
          to their authenticated realm.
        example: building
        in: query
        name: realm
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileInfo"
        description: File metadata and Base64 or text contents in the format understood
          by the selected agent protocol.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetTreeNode"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "405":
          description: The selected agent protocol does not support asset import
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      security:
      - openid: []
      summary: Import assets through an agent
      tags:
      - Agent
  /agent/instanceDiscovery/{agentType}:
    get:
      description: Runs instance discovery for an agent type and returns candidate
        Agent assets. parentId selects local versus edge-gateway discovery; non-super
        users are always constrained to their authenticated realm.
      operationId: doProtocolInstanceDiscovery
      parameters:
      - description: Optional parent asset used to choose local or edge-gateway discovery.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: query
        name: parentId
        schema:
          type: string
      - description: Registered agent asset type whose protocol supports instance
          discovery.
        example: HTTPAgent
        in: path
        name: agentType
        required: true
        schema:
          type: string
      - description: OpenRemote realm name. Non-super users are always restricted
          to their authenticated realm.
        example: building
        in: query
        name: realm
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AgentObjectObjectObject"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "415":
          description: The selected agent protocol does not support instance discovery
      security:
      - openid: []
      summary: Discover protocol instances
      tags:
      - Agent
  /alarm:
    delete:
      description: Permanently removes all alarms identified by the request body after
        verifying access to every alarm's realm.
      operationId: removeAlarms
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        description: Numeric IDs of the alarms to remove.
        required: true
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Remove alarms
      tags:
      - Alarm
    get:
      description: "Returns alarms in the requested accessible realm, optionally filtered\
        \ by status, linked asset, or assignee. When realm is omitted, the authenticated\
        \ realm is used."
      operationId: getAlarms
      parameters:
      - description: OpenRemote realm name. Defaults to the authenticated realm.
        example: building
        in: query
        name: realm
        schema:
          type: string
      - description: Alarm lifecycle status to match.
        example: OPEN
        in: query
        name: status
        schema:
          type: string
          enum:
          - OPEN
          - ACKNOWLEDGED
          - IN_PROGRESS
          - RESOLVED
          - CLOSED
      - description: Return alarms linked to this asset.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: query
        name: assetId
        schema:
          type: string
      - description: Return alarms assigned to this identity-provider user.
        example: 2f1c17e5-72b8-4dbe-9f8d-c49e66f82e10
        in: query
        name: assigneeId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SentAlarm"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Retrieve all alarms or a subset using filter criteria
      tags:
      - Alarm
    post:
      description: Creates a manual alarm in an accessible realm and optionally links
        it to the supplied asset IDs. The authenticated user or client becomes the
        alarm source.
      operationId: createAlarm
      parameters:
      - description: Asset IDs to link to the new alarm. Repeat the query parameter
          for multiple assets.
        example: 7A6p4AnLTkKxJUCQAAABAA
        explode: true
        in: query
        name: assetIds
        schema:
          type: array
          items:
            type: string
        style: form
      requestBody:
        content:
          application/json:
            examples:
              High temperature alarm:
                description: High temperature alarm
                summary: Create an open high-severity alarm
                value:
                  title: Temperature threshold exceeded
                  content: Boiler room temperature reached 42 °C.
                  severity: HIGH
                  status: OPEN
                  realm: building
            schema:
              $ref: "#/components/schemas/Alarm"
        description: Alarm to create. The source and sourceId are assigned from the
          authenticated caller.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentAlarm"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Create an alarm
      tags:
      - Alarm
  /alarm/assets:
    put:
      description: |
        Adds links between assets and one existing alarm.

        The request body is a list for backward compatibility, but this operation now has single-alarm semantics:
        every item must contain the same `id.realm` and the same `id.alarmId`. The alarm must exist in that realm,
        every asset must exist in the same realm, and the authenticated user must have access to that realm. Requests
        containing mixed alarm IDs or realms are rejected as bad requests.

        Existing links are left unchanged; duplicate links in the request or links that already exist are ignored.
        This operation does not remove existing links from the alarm.
      operationId: setAssetLinks
      requestBody:
        content:
          application/json:
            examples:
              Invalid multiple alarms:
                description: Invalid multiple alarms
                summary: Rejected because the request targets more than one alarm
                value:
                - id:
                    realm: building
                    alarmId: 1234
                    assetId: 7A6p4AnLTkKxJUCQAAABAA
                - id:
                    realm: building
                    alarmId: 5678
                    assetId: 2Qjr4AnLTkKxJUCQAAACAA
              Multiple asset links:
                description: Multiple asset links
                summary: Link multiple assets to the same alarm
                value:
                - id:
                    realm: building
                    alarmId: 1234
                    assetId: 7A6p4AnLTkKxJUCQAAABAA
                - id:
                    realm: building
                    alarmId: 1234
                    assetId: 2Qjr4AnLTkKxJUCQAAACAA
              Single asset link:
                description: Single asset link
                summary: Link one asset to one alarm
                value:
                - id:
                    realm: building
                    alarmId: 1234
                    assetId: 7A6p4AnLTkKxJUCQAAABAA
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AlarmAssetLink"
        description: Alarm asset links to add. All items must use the same `id.realm`
          and `id.alarmId`.
        required: true
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Add asset links to a single alarm
      tags:
      - Alarm
  /alarm/{alarmId}:
    delete:
      description: Permanently removes one alarm after verifying access to its realm.
      operationId: removeAlarm
      parameters:
      - description: Numeric alarm identifier.
        example: 1234
        in: path
        name: alarmId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Remove an alarm
      tags:
      - Alarm
    get:
      description: Returns one alarm when its realm is active and accessible to the
        authenticated user.
      operationId: getAlarm
      parameters:
      - description: Numeric alarm identifier.
        example: 1234
        in: path
        name: alarmId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentAlarm"
          description: The request completed successfully
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Retrieve an alarm
      tags:
      - Alarm
    put:
      description: Updates the mutable state of an existing alarm after verifying
        access to its current realm.
      operationId: updateAlarm
      parameters:
      - description: Numeric alarm identifier.
        example: 1234
        in: path
        name: alarmId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SentAlarm"
        description: Complete updated alarm state.
        required: true
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Update an alarm
      tags:
      - Alarm
  /alarm/{alarmId}/assets:
    get:
      description: Returns links from the alarm to assets in the explicitly supplied
        accessible realm.
      operationId: getAssetLinks
      parameters:
      - description: Numeric alarm identifier.
        example: 1234
        in: path
        name: alarmId
        required: true
        schema:
          type: integer
          format: int64
      - description: OpenRemote realm name.
        example: building
        in: query
        name: realm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlarmAssetLink"
          description: The request completed successfully
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Retrieve the asset links of an alarm
      tags:
      - Alarm
  /apps:
    get:
      description: Returns the identifiers of applications installed in the Manager
        web root.
      operationId: getApps
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
          description: The request completed successfully
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      summary: Retrieve a list of the available applications
      tags:
      - UI Apps
  /apps/consoleConfig:
    get:
      description: Loads the public console_config.json document used to configure
        console clients before sign-in.
      operationId: getConsoleConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: The request completed successfully
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      summary: Retrieve the console configuration
      tags:
      - UI Apps
  /apps/info:
    get:
      description: Loads each installed application's info.json file and returns the
        documents keyed by application identifier.
      operationId: getAppInfos
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
          description: The request completed successfully
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      summary: Retrieve the info of the available applications
      tags:
      - UI Apps
  /asset:
    delete:
      description: "Permanently deletes every asset identified by repeated assetId\
        \ query parameters, subject to realm and restricted-user access rules."
      operationId: deleteAsset
      parameters:
      - description: Asset IDs to delete. Repeat the query parameter for multiple
          assets.
        example: 7A6p4AnLTkKxJUCQAAABAA
        explode: true
        in: query
        name: assetId
        required: true
        schema:
          type: array
          items:
            type: string
        style: form
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Delete assets
      tags:
      - Asset
    post:
      description: Creates an asset in an accessible realm and returns the persisted
        representation. The server generates an ID when absent; supplied IDs must
        be globally unique and 22 characters long.
      operationId: createAsset
      requestBody:
        content:
          application/json:
            examples:
              Create a Thing asset:
                description: Create a Thing asset
                summary: Create a sensor with temperature and humidity attributes
                value:
                  type: ThingAsset
                  name: Boiler room sensor
                  realm: building
                  attributes:
                    temperature:
                      name: temperature
                      type: number
                      value: 21.5
                    humidity:
                      name: humidity
                      type: number
                      value: 48
            schema:
              $ref: "#/components/schemas/AssetObject"
        description: Asset to create. Omit id to let the server generate one; realm
          defaults to the authenticated realm.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetObject"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Create an asset
      tags:
      - Asset
  /asset/attributes:
    put:
      description: Submits a batch of attribute states using current server time and
        returns one result per input item. Authorization and processing failures are
        encoded in each AttributeWriteResult rather than returned as an HTTP error.
      operationId: writeAttributeValues
      requestBody:
        content:
          application/json:
            examples:
              Write two attributes:
                description: Write two attributes
                summary: Update temperature and humidity on one asset
                value:
                - ref:
                    id: 7A6p4AnLTkKxJUCQAAABAA
                    name: temperature
                  value: 21.5
                - ref:
                    id: 7A6p4AnLTkKxJUCQAAABAA
                    name: humidity
                  value: 48
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AttributeState"
        description: Attribute references and values to write using the current server
          time.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AttributeWriteResult"
          description: The request completed successfully
      summary: Write values to multiple asset attributes
      tags:
      - Asset
  /asset/attributes/timestamp:
    put:
      description: Submits a batch of complete attribute events and returns one result
        per input item. Supplied timestamps are preserved; authorization and processing
        failures are encoded per result rather than returned as an HTTP error.
      operationId: writeAttributeEvents
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AttributeEvent"
        description: "Complete attribute events to write, including their timestamps."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AttributeWriteResult"
          description: The request completed successfully
      summary: Write timestamped values to multiple asset attributes
      tags:
      - Asset
  /asset/count:
    post:
      description: "Returns only the number of assets matching an AssetQuery after\
        \ applying the caller's realm, public, and linked-asset access constraints."
      operationId: queryCount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetQuery"
        description: Optional asset query to count. An omitted or empty query counts
          all assets visible to the caller.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
                format: int32
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The caller does not have permission to access the requested
            resource
      summary: Count assets using a query
      tags:
      - Asset
  /asset/datapoint/export:
    get:
      description: Streams a ZIP archive containing exported datapoints for one or
        more attribute references over the requested inclusive time range. attributeRefs
        is a JSON-encoded array of objects with id and name fields.
      operationId: getDatapointExport
      parameters:
      - description: JSON-encoded array of objects with id and name fields.
        example:
        - id: 7A6p4AnLTkKxJUCQAAABAA
          name: temperature
        in: query
        name: attributeRefs
        required: true
        schema:
          type: string
      - description: Start of the export range as Unix time in milliseconds.
        example: 1767225600000
        in: query
        name: fromTimestamp
        required: true
        schema:
          type: integer
          format: int64
      - description: End of the export range as Unix time in milliseconds.
        example: 1767312000000
        in: query
        name: toTimestamp
        required: true
        schema:
          type: integer
          format: int64
      - description: Export file format.
        example: CSV
        in: query
        name: format
        schema:
          type: string
          _default: CSV
          enum:
          - CSV
          - CSV_CROSSTAB
          - CSV_CROSSTAB_MINUTE
      responses:
        "200":
          content:
            application/zip:
              schema:
                type: string
                format: binary
          description: A ZIP archive containing the exported data
          headers:
            Content-Disposition:
              description: Attachment filename for the ZIP archive
              schema:
                type: string
                example: attachment; filename="dataexport.zip"
              style: simple
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "413":
          content:
            text/plain:
              schema:
                type: string
          description: The request or generated response exceeds the configured size
            limit
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      security:
      - openid: []
      summary: Export historical datapoints
      tags:
      - Asset Datapoint
  /asset/datapoint/periods:
    get:
      description: Returns the oldest and newest stored timestamps for one attribute.
        The asset and attribute must be readable by the authenticated user and configured
        for datapoint storage.
      operationId: getDatapointPeriod
      parameters:
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: query
        name: assetId
        required: true
        schema:
          type: string
      - description: Attribute name as defined by the asset model.
        example: temperature
        in: query
        name: attributeName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatapointPeriod"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Retrieve a datapoint period of an asset attribute
      tags:
      - Asset Datapoint
  /asset/datapoint/{assetId}/{attributeName}:
    post:
      description: Returns stored historical values for one attribute. A null body
        returns the available series; a polymorphic query body controls the time range
        and retrieval or aggregation strategy. Anonymous access requires public-read
        access on both asset and attribute.
      operationId: getDatapoints
      parameters:
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: Attribute name as defined by the asset model.
        example: temperature
        in: path
        name: attributeName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              All values:
                description: All values
                summary: Return every datapoint in a one-day inclusive range
                value:
                  type: all
                  fromTime: 2026-01-01T00:00:00Z
                  toTime: 2026-01-02T00:00:00Z
              Hourly average:
                description: Hourly average
                summary: Average one day of values into hourly buckets and fill gaps
                value:
                  type: interval
                  fromTimestamp: 1767225600000
                  toTimestamp: 1767312000000
                  interval: 1 hour
                  formula: AVG
                  gapFill: true
              LTTB downsampling:
                description: LTTB downsampling
                summary: Downsample one day to at most 500 representative points
                value:
                  type: lttb
                  fromTimestamp: 1767225600000
                  toTimestamp: 1767312000000
                  amountOfPoints: 500
              Nearest value:
                description: Nearest value
                summary: Return the closest datapoint at or before a Unix-seconds
                  timestamp
                value:
                  type: nearest
                  fromTimestamp: 1767312000
            schema:
              oneOf:
              - $ref: "#/components/schemas/AssetDatapointAllQuery"
              - $ref: "#/components/schemas/AssetDatapointIntervalQuery"
              - $ref: "#/components/schemas/AssetDatapointLTTBQuery"
              - $ref: "#/components/schemas/AssetDatapointNearestQuery"
        description: "Optional polymorphic datapoint query. Set type to all, interval,\
          \ lttb, or nearest. Omit the body to return the available stored series."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ValueDatapointObject"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The caller does not have permission to access the requested
            resource
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "413":
          content:
            text/plain:
              schema:
                type: string
          description: The request or generated response exceeds the configured size
            limit
      summary: Retrieve the historical datapoints of an asset attribute
      tags:
      - Asset Datapoint
  /asset/parent:
    delete:
      description: Clears the parent reference of every asset listed in repeated assetIds
        query parameters.
      operationId: deleteAssetsParent
      parameters:
      - description: Asset IDs to move to the realm root. Repeat the query parameter
          for multiple assets.
        example: 7A6p4AnLTkKxJUCQAAABAA
        explode: true
        in: query
        name: assetIds
        required: true
        schema:
          type: array
          items:
            type: string
          maxItems: 2147483647
          minItems: 1
        style: form
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Move assets to the realm root
      tags:
      - Asset
  /asset/partial/{assetId}:
    get:
      description: Returns the asset identity and properties without loading attributes
        or path data. The same access rules as getAsset apply.
      operationId: getPartialAsset
      parameters:
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: assetId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetObject"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Retrieve a partially loaded asset
      tags:
      - Asset
  /asset/predicted/{assetId}/{attributeName}:
    post:
      description: Queries predicted values for one attribute using the supplied time-range
        and aggregation criteria. Anonymous access requires public-read access on
        both asset and attribute.
      operationId: getPredictedDatapoints
      parameters:
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: Attribute name as defined by the asset model.
        example: temperature
        in: path
        name: attributeName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetDatapointQuery"
        description: "Optional time range, ordering, limit, and aggregation strategy\
          \ for predicted values."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ValueDatapointObject"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The caller does not have permission to access the requested
            resource
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      summary: Retrieve the predicted datapoints of an asset attribute
      tags:
      - Asset Predicted Datapoint
    put:
      description: Replaces or adds predicted values for one attribute. Anonymous
        access is allowed only when the asset and attribute are public-write; authenticated
        callers require attribute-write access.
      operationId: writePredictedDatapoints
      parameters:
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: Attribute name as defined by the asset model.
        example: temperature
        in: path
        name: attributeName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/ValueDatapointObject"
        description: Timestamped predicted values to store for the attribute.
        required: true
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The caller does not have permission to access the requested
            resource
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      summary: Write the predicted datapoints of an asset attribute
      tags:
      - Asset Predicted Datapoint
  /asset/query:
    post:
      description: Executes an AssetQuery after constraining realm and linked-asset
        access. Anonymous callers receive public-readable assets only; the query select
        clause controls which fields are populated.
      operationId: queryAssets
      requestBody:
        content:
          application/json:
            examples:
              Find sensors:
                description: Find sensors
                summary: Find Thing assets with sensor in their name and select two
                  attributes
                value:
                  realm:
                    name: building
                  types:
                  - ThingAsset
                  names:
                  - match: CONTAINS
                    caseSensitive: false
                    value: sensor
                  select:
                    attributes:
                    - temperature
                    - humidity
                  orderBy:
                    property: NAME
                    descending: false
                  limit: 100
                  offset: 0
            schema:
              $ref: "#/components/schemas/AssetQuery"
        description: Optional asset query. An omitted or empty query selects all assets
          visible to the caller.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetObject"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The caller does not have permission to access the requested
            resource
      summary: Retrieve assets using a query
      tags:
      - Asset
  /asset/tree:
    post:
      description: "Applies the same authorization and selection rules as queryAssets,\
        \ then returns a hierarchy optimized for tree display rather than a flat asset\
        \ array."
      operationId: queryAssetTree
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetQuery"
        description: "Optional asset query controlling the roots, filters, and fields\
          \ included in the returned tree."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetTree"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The caller does not have permission to access the requested
            resource
      summary: Retrieve an optimized asset tree using a query
      tags:
      - Asset
  /asset/user/current:
    get:
      description: "Returns partial linked assets for a restricted user, root assets\
        \ for an unrestricted realm user, and an empty array for a super user. Attributes\
        \ and paths are omitted; use getAsset for full details."
      operationId: getCurrentUserAssets
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetObject"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Retrieve assets accessible to the current user
      tags:
      - Asset
  /asset/user/link:
    get:
      description: "Returns user-asset links in the required realm, optionally filtered\
        \ by userId and assetId. Missing users or assets produce an empty result;\
        \ restricted users cannot call this operation."
      operationId: getUserAssetLinks
      parameters:
      - description: OpenRemote realm name. Defaults to the authenticated realm.
        example: building
        in: query
        name: realm
        schema:
          type: string
      - description: Only return links for this user.
        example: 2f1c17e5-72b8-4dbe-9f8d-c49e66f82e10
        in: query
        name: userId
        schema:
          type: string
      - description: Only return links for this asset.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: query
        name: assetId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserAssetLink"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Retrieve links between assets and users
      tags:
      - Asset
    post:
      description: "Creates all supplied links as one operation. Every item must identify\
        \ the same realm and user, and every referenced realm, user, and asset must\
        \ exist."
      operationId: createUserAssetLinks
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/UserAssetLink"
        description: Links to create. Every item must have the same realm and user
          ID.
        required: true
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Create links between users and assets
      tags:
      - Asset
  /asset/user/link/delete:
    post:
      description: Removes all supplied links. Every item must identify the same realm
        and user.
      operationId: deleteUserAssetLinks
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/UserAssetLink"
        description: Links to remove. Every item must have the same realm and user
          ID.
        required: true
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Delete user asset links
      tags:
      - Asset
  /asset/user/link/{realm}/{userId}:
    delete:
      description: Removes every asset link belonging to the user in the requested
        realm.
      operationId: deleteAllUserAssetLinks
      parameters:
      - description: OpenRemote realm name.
        example: building
        in: path
        name: realm
        required: true
        schema:
          type: string
      - description: Identity-provider user identifier.
        example: 2f1c17e5-72b8-4dbe-9f8d-c49e66f82e10
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Delete all links for a user
      tags:
      - Asset
  /asset/user/link/{realm}/{userId}/{assetId}:
    delete:
      description: "Removes the link identified by realm, user, and asset. The caller\
        \ must be allowed to administer asset links in that realm."
      operationId: deleteUserAssetLink
      parameters:
      - description: OpenRemote realm name.
        example: building
        in: path
        name: realm
        required: true
        schema:
          type: string
      - description: Identity-provider user identifier.
        example: 2f1c17e5-72b8-4dbe-9f8d-c49e66f82e10
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: assetId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Delete a link between an asset and user
      tags:
      - Asset
  /asset/{assetId}:
    get:
      description: "Returns a fully loaded asset including its path and attributes.\
        \ Access is constrained to the caller's realm and, for restricted users, linked\
        \ assets."
      operationId: getAsset
      parameters:
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: assetId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetObject"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      security:
      - openid: []
      summary: Retrieve an asset
      tags:
      - Asset
    put:
      description: "Replaces mutable asset data while preserving the path identifier.\
        \ Realm, parent, restricted-user, and private-metadata rules are validated;\
        \ disallowed restricted-user fields may be ignored."
      operationId: updateAsset
      parameters:
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: assetId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Update an asset:
                description: Update an asset
                summary: Rename an asset and update its attribute values
                value:
                  id: 7A6p4AnLTkKxJUCQAAABAA
                  version: 3
                  type: ThingAsset
                  name: Boiler room sensor
                  realm: building
                  accessPublicRead: false
                  attributes:
                    temperature:
                      name: temperature
                      type: number
                      value: 22.1
                    humidity:
                      name: humidity
                      type: number
                      value: 48
            schema:
              $ref: "#/components/schemas/AssetObject"
        description: "Complete asset representation to store. The body ID, when present,\
          \ must match the path ID; type and realm cannot be changed."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetObject"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "409":
          content:
            text/plain:
              schema:
                type: string
          description: The request conflicts with the current state of the resource
      security:
      - openid: []
      summary: Update an asset
      tags:
      - Asset
  /asset/{assetId}/attribute/{attributeName}:
    put:
      description: "Submits an asynchronous attribute write using the current server\
        \ time. The result reports whether the event was accepted, not whether downstream\
        \ processing ultimately succeeded. Anonymous writes require public-write metadata."
      operationId: writeAttributeValue
      parameters:
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: Attribute name as defined by the asset model.
        example: temperature
        in: path
        name: attributeName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Numeric value:
                description: Numeric value
                summary: Write a number attribute
                value: 21.5
            schema:
              type: string
              nullable: true
        description: Any JSON value accepted by the attribute's value descriptor.
          JSON null clears the value.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
          description: The request completed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
          description: The attribute write failed
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The caller does not have permission to access the requested
            resource
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
          description: The supplied value is not valid for the attribute
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
          description: The attribute event queue is full; retry the write later
      summary: Write a value to one asset attribute
      tags:
      - Asset
  /asset/{assetId}/attribute/{attributeName}/{timestamp}:
    put:
      description: Submits an asynchronous attribute write using the supplied Unix
        timestamp in milliseconds. The result reports acceptance only; anonymous writes
        require public-write metadata.
      operationId: writeAttributeValueWithTimestamp
      parameters:
      - description: Globally unique 22-character asset identifier.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: Attribute name as defined by the asset model.
        example: temperature
        in: path
        name: attributeName
        required: true
        schema:
          type: string
      - description: Unix timestamp in milliseconds.
        example: 1767225600000
        in: path
        name: timestamp
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            examples:
              Timestamped numeric value:
                description: Timestamped numeric value
                summary: Write a number with the path timestamp
                value: 21.5
            schema:
              type: string
              nullable: true
        description: Any JSON value accepted by the attribute's value descriptor.
          JSON null clears the value.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
          description: The request completed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
          description: The attribute write failed
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The caller does not have permission to access the requested
            resource
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
          description: The supplied value is not valid for the attribute
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeWriteResult"
          description: The attribute event queue is full; retry the write later
      summary: Write a timestamped value to one asset attribute
      tags:
      - Asset
  /asset/{parentAssetId}/child:
    put:
      description: "Sets parentAssetId as the parent of every asset listed in repeated\
        \ assetIds query parameters. Parent and children must satisfy realm, access,\
        \ and hierarchy constraints."
      operationId: updateAssetParent
      parameters:
      - description: Asset that will become the new parent.
        example: 7A6p4AnLTkKxJUCQAAABAA
        in: path
        name: parentAssetId
        required: true
        schema:
          type: string
      - description: Child asset IDs to move. Repeat the query parameter for multiple
          assets.
        example: 7A6p4AnLTkKxJUCQAAABAA
        explode: true
        in: query
        name: assetIds
        required: true
        schema:
          type: array
          items:
            type: string
          maxItems: 2147483647
          minItems: 1
        style: form
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Move assets below a new parent
      tags:
      - Asset
  /configuration/manager:
    get:
      description: Returns the public Manager application configuration used by clients
        before and after authentication.
      operationId: getManagerConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagerAppConfig"
          description: The request completed successfully
      summary: Retrieve the manager configuration JSON
      tags:
      - Configuration
    put:
      description: Replaces manager_config.json and returns the stored configuration.
        This administrative change affects Manager UI branding and behavior.
      operationId: updateConfiguration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagerAppConfig"
        description: Complete public Manager UI configuration to persist as manager_config.json.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagerAppConfig"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      security:
      - openid: []
      summary: Update manager configuration
      tags:
      - Configuration
  /configuration/manager/file:
    post:
      description: "Decodes and stores the supplied FileInfo under the requested relative\
        \ path, then returns its Manager API path."
      operationId: fileUpload
      parameters:
      - description: Relative storage path and filename for the image.
        example: images/logo.svg
        in: query
        name: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileInfo"
        description: File metadata and Base64 or text contents to store.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      security:
      - openid: []
      summary: Upload a Manager configuration image
      tags:
      - Configuration
  /configuration/manager/image/{filename}:
    get:
      description: Streams a previously uploaded configuration image using its detected
        media type.
      operationId: getManagerConfigImage
      parameters:
      - description: Relative image path below the Manager configuration image directory.
        example: images/logo.svg
        in: path
        name: filename
        required: true
        schema:
          type: string
          pattern: .+
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          description: The image file
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      summary: Retrieve a Manager configuration image
      tags:
      - Configuration
  /console/register:
    post:
      description: "Creates an anonymous console registration when id is absent, or\
        \ updates an existing registration when id is present. Authenticated new registrations\
        \ are linked to the caller; updates require that link. The returned registration\
        \ contains the durable asset ID for later calls."
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsoleRegistration"
        description: "Console platform, version, display name, and notification-provider\
          \ registrations. Omit id to create a registration; include the returned\
          \ id to update it."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleRegistration"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The caller does not have permission to access the requested
            resource
        "409":
          content:
            text/plain:
              schema:
                type: string
          description: The request conflicts with the current state of the resource
      summary: Create or update the registration for a console
      tags:
      - Console
  /dashboard:
    post:
      description: Creates a dashboard in an accessible realm. The server assigns
        the authenticated user as owner and initially stores the dashboard with shared
        access.
      operationId: createDashboard
      requestBody:
        content:
          application/json:
            examples:
              Operations dashboard:
                description: Operations dashboard
                summary: Create an empty responsive dashboard
                value:
                  realm: building
                  displayName: Operations overview
                  template:
                    columns: 12
                    refreshInterval: FIVE_MIN
                    screenPresets:
                    - id: desktop
                      displayName: Desktop
                      breakpoint: 1024
                      scalingPreset: KEEP_LAYOUT
            schema:
              $ref: "#/components/schemas/Dashboard"
        description: Dashboard definition to create. The server assigns ownerId and
          initially forces SHARED access.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      security:
      - openid: []
      summary: Create a dashboard
      tags:
      - Dashboard
    put:
      description: Updates an existing dashboard when the authenticated user can modify
        it in the dashboard's realm.
      operationId: updateDashboard
      requestBody:
        content:
          application/json:
            examples:
              Update operations dashboard:
                description: Update operations dashboard
                summary: Rename an existing shared dashboard
                value:
                  id: operations-overview
                  version: 2
                  realm: building
                  ownerId: 2f1c17e5-72b8-4dbe-9f8d-c49e66f82e10
                  access: SHARED
                  displayName: Building operations overview
                  template:
                    columns: 12
                    refreshInterval: FIVE_MIN
                    screenPresets:
                    - id: desktop
                      displayName: Desktop
                      breakpoint: 1024
                      scalingPreset: KEEP_LAYOUT
            schema:
              $ref: "#/components/schemas/Dashboard"
        description: "Complete dashboard definition to update, including its id and\
          \ realm."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      security:
      - openid: []
      summary: Update a dashboard
      tags:
      - Dashboard
  /dashboard/all/{realm}:
    get:
      description: "Returns dashboards visible to the caller in the requested realm.\
        \ Anonymous callers receive public dashboards only; authenticated access also\
        \ depends on roles, ownership, and linked assets."
      operationId: getAllRealmDashboards
      parameters:
      - description: OpenRemote realm name.
        example: building
        in: path
        name: realm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dashboard"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
      summary: Retrieve all accessible dashboards
      tags:
      - Dashboard
  /dashboard/query:
    post:
      description: "Executes a dashboard query after constraining it to the caller's\
        \ realm, roles, ownership, and asset access. A missing body uses the request\
        \ realm and default visibility rules."
      operationId: queryDashboards
      requestBody:
        content:
          application/json:
            examples:
              Find operations dashboards:
                description: Find operations dashboards
                summary: Find public or shared dashboards by name in one realm
                value:
                  realm:
                    name: building
                  names:
                  - match: CONTAINS
                    caseSensitive: false
                    value: operations
                  conditions:
                    dashboard:
                      access:
                      - PUBLIC
                      - SHARED
                  start: 0
                  limit: 50
            schema:
              $ref: "#/components/schemas/DashboardQuery"
        description: "Optional dashboard filters, realm, access rules, sorting, and\
          \ pagination. An omitted body uses the request realm and default visibility\
          \ rules."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dashboard"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
      summary: Retrieve dashboards using a query
      tags:
      - Dashboard
  /dashboard/{realm}/{dashboardId}:
    delete:
      description: Permanently removes a dashboard when the authenticated user can
        modify it in the requested realm.
      operationId: deleteDashboard
      parameters:
      - description: OpenRemote realm name.
        example: building
        in: path
        name: realm
        required: true
        schema:
          type: string
      - description: Dashboard identifier.
        example: operations-overview
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      security:
      - openid: []
      summary: Delete a dashboard
      tags:
      - Dashboard
    get:
      description: Returns one dashboard only when it is visible to the caller. Inaccessible
        and nonexistent dashboards both return 404 to avoid disclosing their existence.
      operationId: getDashboard
      parameters:
      - description: OpenRemote realm name.
        example: building
        in: path
        name: realm
        required: true
        schema:
          type: string
      - description: Dashboard identifier.
        example: operations-overview
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "404":
          content:
            text/plain:
              schema:
                type: string
          description: The requested resource does not exist
      summary: Retrieve a dashboard
      tags:
      - Dashboard
  /flow:
    get:
      description: Returns every supported flow node definition except the internal
        LOG_OUTPUT node.
      operationId: getAllNodeDefinitions
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Node"
          description: The request completed successfully
      summary: Retrieve all node definitions
      tags:
      - Flow
  /flow/{name}:
    get:
      description: Resolves one flow node definition by its model name.
      operationId: getNodeDefinition
      parameters:
      - description: Exact model name of the flow node definition.
        example: Attribute
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Node"
          description: The request completed successfully
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: The operation failed because of an unexpected server error
      summary: Retrieve a node definition by name
      tags:
      - Flow
  /flow/{type}:
    get:
      description: Returns supported flow node definitions whose category matches
        the requested node type.
      operationId: getAllNodeDefinitionsByType
      parameters:
      - description: Flow node category to filter by.
        example: INPUT
        in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - INPUT
          - PROCESSOR
          - OUTPUT
          - THEN
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Node"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
      summary: Retrieve all node definitions by type
      tags:
      - Flow
  /gateway/connection:
    delete:
      description: Removes connections for all repeated realm query parameters. Deleting
        multiple realms is restricted to super users.
      operationId: deleteConnections
      parameters:
      - description: Realm names whose gateway connections should be removed. Repeat
          the query parameter for multiple realms.
        example: building
        explode: true
        in: query
        name: realm
        required: true
        schema:
          type: array
          items:
            type: string
        style: form
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Delete the gateway connections of multiple realms
      tags:
      - Gateway
    get:
      description: "Returns every configured central-manager connection. Unlike the\
        \ single-realm endpoint, this operation is restricted to super users."
      operationId: getConnections
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GatewayConnection"
          description: The request completed successfully
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Retrieve the gateway connections of all realms
      tags:
      - Gateway
  /gateway/connection/{realm}:
    delete:
      description: Removes the central-manager connection for one realm. Realm administrators
        can remove their own connection; super users can remove any connection.
      operationId: deleteConnection
      parameters:
      - description: OpenRemote realm name.
        example: building
        in: path
        name: realm
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Delete the gateway connection of a realm
      tags:
      - Gateway
    get:
      description: "Returns the central-manager connection configured for a realm,\
        \ or null when none exists. Realm administrators can read their own realm;\
        \ super users can read any realm."
      operationId: getConnection
      parameters:
      - description: OpenRemote realm name.
        example: building
        in: path
        name: realm
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayConnection"
          description: The request completed successfully
        "204":
          description: No gateway connection is configured for the realm
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Retrieve the gateway connection of a realm
      tags:
      - Gateway
    put:
      description: "Creates or replaces the connection for the path realm. The server\
        \ forces the local realm, including realm predicates in attribute filters,\
        \ to match the path."
      operationId: setConnection
      parameters:
      - description: OpenRemote realm name.
        example: building
        in: path
        name: realm
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GatewayConnection"
        description: Central-manager connection settings. localRealm and realms in
          attribute filters are forced to match the path realm.
        required: true
      responses:
        "204":
          description: The request completed successfully; no response body is returned
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: The request parameters or body are invalid
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Authentication is required or the supplied credentials are
            invalid
        "403":
          content:
            text/plain:
              schema:
                type: string
          description: The authenticated user does not have permission to perform
            this operation
      security:
      - openid: []
      summary: Update the gateway connection of a realm
      tags:
      - Gateway
  /gateway/status/{realm}:
    get:
[...]
